html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Proxima Nova', sans-serif;
  background: $black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
