<ul class="points__benefits wow animate__animated animate__bounceInLeft">
  <li class="points__item">
    <div class="show-attr" data-title="DJ">
      <img src="assets/img/dj.svg" alt="dj">
    </div>
    <span>- есть DJ</span>
  </li>

  <li class="points__item">
    <div data-title="PS4" class="show-attr">
      <img src="assets/img/ps.svg" alt="ps4">
    </div>
    <span>- есть PS4</span>
  </li>

  <li class="points__item">
    <div data-title="Паркинг" class="show-attr">
      <img src="assets/img/parking.svg" alt="parking">
    </div>
    <span>- есть паркинг</span>
  </li>

  <li class="points__item">
    <div class="show-attr" data-title="VIP">
      <img src="assets/img/vip.svg" alt="vip">
    </div>
    <span>- есть VIP зона</span>
  </li>

  <li class="points__item">
    <div data-title="Веранда" class="show-attr">
      <img src="assets/img/veranda.svg" alt="veranda">
    </div>
    <span>- есть Веранда</span>
  </li>

  <li class="points__item">
    <div data-title="Кухня" class="show-attr">
      <img src="assets/img/kitchen.svg" alt="kitchen">
    </div>
    <span>- есть Кухня</span>
  </li>
</ul>