<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row wow animate__animated animate__bounceInUp">
      <p>Страницы</p>

      <ul class="footer__list">
        <li class="footer__item">
          <a href="#">Главная</a>
        </li>
        <li class="footer__item">
          <a href="#">Франшиза</a>
        </li>
        <li class="footer__item">
          <a href="#">Мобильное приложение</a>
        </li>
      </ul>

      <p class="footer__copyright">
        © 2019. ИП Григорян Р.А. Сеть лаунж-баров в Москве и области премиум-класса. Все права защищены.
      </p>
    </div>

    <div class="footer__row wow animate__animated animate__bounceInUp">
      <p>Дополнительно</p>

      <ul class="footer__list">
        <li class="footer__item">
          <a href="#">Заведения</a>
        </li>
        <li class="footer__item">
          <a href="#">Меню</a>
        </li>
        <li class="footer__item">
          <a href="#">О нас</a>
        </li>
        <li class="footer__item">
          <a href="#">Акции</a>
        </li>
      </ul>

    </div>

    <div class="footer__row wow animate__animated animate__bounceInUp">
      <p>Еще</p>

      <ul class="footer__list">
        <li class="footer__item">
          <a href="#">Пользовательское соглашение</a>
        </li>
        <li class="footer__item">
          <a href="#">Правила посещения заведения</a>
        </li>
        <li class="footer__item">
          <a href="#">Разработано в studio.ru</a>
        </li>
      </ul>

    </div>

    <div class="footer__row wow animate__animated animate__bounceInUp">
      <p>Подписаться на новости</p>

      <form class="footer__form" action="">
        <input type="email" placeholder="E-mail" name="email">
        <button type="submit">
          <svg class="t447__btnicon" fill="#ffffff" width="20px" height="20px" viewBox="0 0 25 21.4"
            xmlns="http://www.w3.org/2000/svg">
            <desc>Subscribe</desc>
            <path d="M0 21.4l25-10.7L0 0v8.3l17.9 2.4L0 13.1v8.3z"></path>
          </svg>
        </button>
      </form>
    </div>

  </div>
</footer>