<header class="header">
  <div class="container header__container">
    <div class="header__logo wow animate__animated animate__slideInLeft">
      <a href="#">
        <img src="assets/img/logo1.svg" width="160" alt="mos lounge logo" />
      </a>
    </div>

    <nav class="menu header__menu wow animate__animated animate__bounceInLeft">
      <ul class="menu__list">
        <li class="menu__item"><a href="#">Главная</a></li>
        <li class="menu__item"><a href="#">О нас</a></li>
        <li class="menu__item"><a href="#">Меню</a></li>
        <li class="menu__item"><a href="#">Акции</a></li>
        <li class="menu__item"><a href="#">Франшиза</a></li>
      </ul>
    </nav>

    <div class="header__btn">
      <button class="btn btn-header wow animate__animated animate__pulse">
        Забронировать
        <img class="wow animate__animated animate__fadeInRight animate__infinite" src="assets/img/arrow.svg"
          alt="arrow" />
      </button>
    </div>
  </div>
</header>