<section class="mobile">
  <div class="container mobile__container">
    <div class="mobile__text">
      <h5 class="title wow animate__animated animate__bounceInLeft">Мобильное приложение <span>MOS</span></h5>
      <p class="subtitle wow animate__animated animate__bounceInLeft"><span>10% cashback</span> со всех чеков друзей до
        бесконечной глубины</p>

      <a href="#" class="hero__app wow animate__animated animate__bounceInUp">
        <img src="assets/img/googleplay.svg" alt="android app">
      </a>

      <a href="#" class="hero__app wow animate__animated animate__bounceInUp">
        <img src="assets/img/apple.svg" alt="ios app">
      </a>

    </div>

    <div class="mobile__img wow animate__animated animate__bounceInRight">
      <picture>
        <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/hand.webp" />
        <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/hand.png" width="300" height="300"
          alt="mobile hand" />
      </picture>
    </div>

  </div>
</section>