<section class="points">
  <div class="container">
    <h2 class="title wow animate__animated animate__bounceInLeft">Из какого вы <span>города</span>?</h2>

    <div class="tabs wow animate__animated animate__bounceInRight">
      <button class="tabs__nav active">Москва</button>
      <button class="tabs__nav">Москвcкая область</button>
      <button class="tabs__nav">Нижний новгород</button>
      <button class="tabs__nav">Якутск</button>
      <button class="tabs__nav">Пятигорск</button>
      <button class="tabs__nav">Сочи</button>
    </div>

    {{> benefits }}

    <div class="tab-content">

      {{> tab-content-item}}

      <div class="tab-content__hided tab-content__show">
        {{> tab-content-item}}
      </div>

      <button class="btn show-more">Показать еще 2</button>
    </div>
  </div>
</section>