{{#repeat 2}}

<div class="tab-content__item wow animate__animated animate__bounceInRight">

  <div class="tab-content__img">
    <picture>
      <source type="image/webp" srcset="assets/img/1x1.webp" data-srcset="assets/img/1.webp" />
      <img class="lazy" src="assets/img/1x1.webp" data-src="assets/img/1.png" alt="lounge" />
    </picture>
  </div>

  <div class="tab-content__text">
    <p>Алтуфьево</p>
    <span>Алтуфьевское ш. 70к1</span>
    <p class="metro">Алтуфьево, Бибирево</p>
  </div>

  <div class="tab-content__benefits points__item">
    <div data-title="PS4" class="show-attr">
      <img src="assets/img/ps.svg" alt="ps4">
    </div>

    <div class="show-attr" data-title="DJ">
      <img src="assets/img/dj.svg" alt="dj">
    </div>

    <div data-title="Паркинг" class="show-attr">
      <img src="assets/img/parking.svg" alt="parking">
    </div>


    <div class="show-attr" data-title="VIP">
      <img src="assets/img/vip.svg" alt="vip">
    </div>

    <div data-title="Веранда" class="show-attr">
      <img src="assets/img/veranda.svg" alt="veranda">
    </div>

    <div data-title="Кухня" class="show-attr">
      <img src="assets/img/kitchen.svg" alt="kitchen">
    </div>


  </div>

  <div class="tab-content__btns">
    <button class="btn">Забронировать</button>
    <a href="#" class="btn">Подробнее</a>
  </div>
</div>


{{/repeat}}